.vscode

unit_tests/imu_unit_test/.vscode
unit_tests/imu_unit_test/CMakeFiles
unit_tests/imu_unit_test/cmake_install.cmake 
unit_tests/imu_unit_test/CMakeCache.txt
unit_tests/imu_unit_test/imu_test 
unit_tests/imu_unit_test/libimu_i2c.a
unit_tests/imu_unit_test/libwit_c_sdk.a
unit_tests/imu_unit_test/libWT61P.a

unit_tests/barometer_unit_test/CMakeFiles
unit_tests/barometer_unit_test/barometer 
unit_tests/barometer_unit_test/cmake_install.cmake 
unit_tests/barometer_unit_test/CMakeCache.txt 
unit_tests/barometer_unit_test/libbarometer_driver_basic.a
unit_tests/barometer_unit_test/libbarometer_driver.a
unit_tests/barometer_unit_test/libbarometer_interface.a
unit_tests/barometer_unit_test/libiic.a

control_station_ws/build
control_station_ws/install
control_station_ws/log

raspberry_pi_ws/build
raspberry_pi_ws/install
raspberry_pi_ws/log